#!/usr/bin/env ruby

require 'compass'
Compass.add_project_configuration('config/compass.development.rb')

default_sass_options = Compass.sass_engine_options
default_haml_options = { :format => :html5 }

preprocess do
  # Don't publish items if so indicated.
  items.delete_if { |item| item[:publish] == false }
end

compile '/styles/*/' do
  filter :sass,
    default_sass_options.merge(:syntax => item[:extension].to_sym)
end

compile '*' do
  case item[:extension]
  when 'haml'
    filter :haml,
      default_haml_options
  else
    filter :haml,
      default_haml_options
  end

  layout 'default'
end

route '/styles/_*/' do
  # Don't render partials.
  nil
end

route '/styles/*/' do
  "#{item.identifier.chop}.#{item[:extension].split('.').first}"
end

route '/posts/*/' do
  pieces = item.identifier.split('/')
  stub = pieces.pop
  item[:stub] ||= stub
  (pieces + ['']).join('/') + item[:stub] + item[:extension].split('.').first
end

route '*' do
  item.identifier + 'index.html'
end

layout '*', :haml
