@import "base"

header nav
  li
    text-align: center
    a
      color: $loud
      font: bold 12px $blueprint-alt-font-family
      line-height: 36px
      text-transform: uppercase
      &.active
        color: #fff
        