---
title: Home
---

%article.news
  %header
    %h1
      %a{:href => "", :title => "Title Goes Here", :rel => "bookmark"} Quisque Lacus Quam, Egestas Accoul Lorem
    %p
      %time{:datetime => "2010-11-27T16:21:00-06:00", :pubdate => "pubdate"} 2010-11-27 21:00
      by
      %cite
        %a{:href => "http://twitter.com/superninjarobot"} @superninjarobot
      %a.category{:href => "", :rel => "category"} News
      
  %p 
    This is a sample excerpt. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. 
    %a.continue{:href => "", :rel => "bookmark"} continue &raquo;
    
  %footer
    %a.tag{:href => "", :rel => "tag"} Apple
    %a.tag{:href => "", :rel => "tag"} Sample
    %a.tag{:href => "", :rel => "tag"} Clouds
    %a.tag{:href => "", :rel => "tag"} Birds
    
%article.article
  %header
    %h1
      %a{:href => "", :title => "Title Goes Here", :rel => "bookmark"} Quisque Lacus Quam, Egestas Accoul Lorem
    %p
      %time{:datetime => "2010-11-27T16:21:00-06:00", :pubdate => "pubdate"} 2010-11-27 21:00
      by
      %cite
        %a{:href => "http://twitter.com/superninjarobot"} @superninjarobot
      %a.category{:href => "", :rel => "category"} Article

  %p 
    This is a sample excerpt. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. 
    %a.continue{:href => "", :rel => "bookmark"} continue &raquo;

  %footer
    %a.tag{:href => "", :rel => "tag"} Apple
    %a.tag{:href => "", :rel => "tag"} Sample
    %a.tag{:href => "", :rel => "tag"} Clouds
    %a.tag{:href => "", :rel => "tag"} Birds
    
%article.essay
  %header
    %h1
      %a{:href => "", :title => "Title Goes Here", :rel => "bookmark"} Quisque Lacus Quam, Egestas Accoul Lorem
    %p
      %time{:datetime => "2010-11-27T16:21:00-06:00", :pubdate => "pubdate"} 2010-11-27 21:00
      by
      %cite
        %a{:href => "http://twitter.com/superninjarobot"} @superninjarobot
      %a.category{:href => "", :rel => "category"} Essay

  %p 
    This is a sample excerpt. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. 
    %a.continue{:href => "", :rel => "bookmark"} continue &raquo;

  %footer
    %a.tag{:href => "", :rel => "tag"} Apple
    %a.tag{:href => "", :rel => "tag"} Sample
    %a.tag{:href => "", :rel => "tag"} Clouds
    %a.tag{:href => "", :rel => "tag"} Birds
    
%article.guide
  %header
    %h1
      %a{:href => "", :title => "Title Goes Here", :rel => "bookmark"} Quisque Lacus Quam, Egestas Accoul Lorem
    %p
      %time{:datetime => "2010-11-27T16:21:00-06:00", :pubdate => "pubdate"} 2010-11-27 21:00
      by
      %cite
        %a{:href => "http://twitter.com/superninjarobot"} @superninjarobot
      %a.category{:href => "", :rel => "category"} Guide

  %p 
    This is a sample excerpt. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. 
    %a.continue{:href => "", :rel => "bookmark"} continue &raquo;

  %footer
    %a.tag{:href => "", :rel => "tag"} Apple
    %a.tag{:href => "", :rel => "tag"} Sample
    %a.tag{:href => "", :rel => "tag"} Clouds
    %a.tag{:href => "", :rel => "tag"} Birds
    
%article.snippet
  %header
    %h1
      %a{:href => "", :title => "Title Goes Here", :rel => "bookmark"} Quisque Lacus Quam, Egestas Accoul Lorem
    %p
      %time{:datetime => "2010-11-27T16:21:00-06:00", :pubdate => "pubdate"} 2010-11-27 21:00
      by
      %cite
        %a{:href => "http://twitter.com/superninjarobot"} @superninjarobot
      %a.category{:href => "", :rel => "category"} Snippet

  %p 
    This is a sample excerpt. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. 
    %a.continue{:href => "", :rel => "bookmark"} continue &raquo;

  %footer
    %a.tag{:href => "", :rel => "tag"} Apple
    %a.tag{:href => "", :rel => "tag"} Sample
    %a.tag{:href => "", :rel => "tag"} Clouds
    %a.tag{:href => "", :rel => "tag"} Birds