@import "base"

body, select, input, textarea 
  color: $font-color
  font-family: $blueprint-font-family
  font-size: $blueprint-font-size
  line-height: 24px
  
html
  height: 100%
  overflow-y: scroll

body
  @include container
  min-height: 100%
  
aside, section, article, header, footer
  display: block

a:hover, a:active
  outline: none

a, a:active, a:visited
  color: $link-color
  text-decoration: none
  
a:hover
  color: $normal

p
  margin: 20px 0
  
ul, ol
  margin-left: 1.8em
  
ol
  list-style-type: decimal

nav ul, nav li
  margin: 0

small
  font-size: 85%
  
strong, th
  font-weight: bold

td, td img
  vertical-align: top

sub
  vertical-align: sub
  font-size: smaller
  
sup
  vertical-align: super 
  font-size: smaller

pre
  padding: 15px 
  /* CSS2 
  white-space: pre 
  /* CSS 2.1
  white-space: pre-wrap 
  /* CSS 3 (and 2.1 as well, actually)
  white-space: pre-line 
  /* IE
  word-wrap: break-word 
 
textarea
  overflow: auto

.ie6 legend, .ie7 legend
  margin-left: -7px

input[type="radio"]
  vertical-align: text-bottom
  
input[type="checkbox"]
  vertical-align: bottom
  
.ie7 input[type="checkbox"]
  vertical-align: baseline
  
.ie6 input
  vertical-align: text-bottom

label, input[type="button"], input[type="submit"], input[type="image"], button
  cursor: pointer
 
button, input, select, textarea
  margin: 0

/* colors for form validity */
input:valid, textarea:valid
  font-color: #090
  
input:invalid, textarea:invalid
  border-radius: 1px
  -moz-box-shadow: 0px 0px 5px red 
  -webkit-box-shadow: 0px 0px 5px red 
  box-shadow: 0px 0px 5px red

.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid
  background-color: #f0dddd

::-moz-selection
  background: #FF5E99
  color: #fff
  text-shadow: none
  
::selection
  background: #FF5E99
  color: #fff
  text-shadow: none

a:link
  -webkit-tap-highlight-color: #FF5E99

button
  width: auto
  overflow: visible
 
.ie7 img
  -ms-interpolation-mode: bicubic

#page-header
  @include clearfix
  margin-bottom: $spacer-size
  h1
    background-image: url('/assets/logo.gif')
    background-repeat: center center
    height: 54px
    margin-top: 15px
    @include ir
    @include column(7)

nav.primary
  @include column(16, true)
  @include prepend(1)
  li
    @include column-base
    text-align: center
    &.last
      @include last
    a
      color: $loud
      display: block
      font: bold 12px Helvetica, sans-serif
      line-height: 36px
      padding: 32px 23px 0 23px
      text-transform: uppercase
      &.active
        background: #666
        color: #fff

#page
  @include column(16, true)
  @include prepend(8)
  h1.banner
    @include column(16, true)
    color: #000
    font-size: 38px
    margin-bottom: $spacer-size + 10px
    line-height: 48px

.no-fontface #page h1.banner
  font-size: 32px
  line-height: 44px

#articles
  @include column(11)
  @include append(1)
  
#taxonomy
  @include column(4, true)
  h1
    text-transform: uppercase
  ul,li
    list-style: none
    margin: 0
  li
    list-style: none
    margin: 10px 0
  a
    @include box-link(7px, 10px)
    line-height: 23px
  .tag-level-4 a
    background-color: $loud
  .tag-level-3 a
    background-color: $normal
  .tag-level-2 a
    background-color: $link-color
  .tag-level-1 a
    background-color: $quiet
  .tag-level-0 a
    background-color: $whisper
    
    
.widget
  margin-bottom: $spacer-size
    
article
  border-bottom: 1px solid #666666
  font-family: $blueprint-alt-font-family
  font-size: 12px
  margin-bottom: $spacer-size
  text-align: justify
  header
    font-family: $blueprint-font-family
    font-size: $blueprint-font-size
  h1
    font-size: 28px
    line-height: 36px
    margin-top: -10px
    a
      color: $font-color !important
  .tag
    @include border-radius(12px)
    background: #eaeaea
    color: $loud !important
    line-height: 25px
    padding: 5px 10px
    text-shadow: #fff 0 1px 1px
    &:hover
      @include box-shadow(#666, 0, 1px, 2px)
  .category
    background-image: url('/assets/categories.gif')
    background-repeat: no-repeat
    padding-left: 25px
  footer
    font-family: $blueprint-font-family
    font-size: $blueprint-font-size
    margin: $spacer-size 0
    
.news .category
  background-position: 5px 1px
  
.article .category
  background-position: 5px -23px
  
.essay .category
  background-position: 5px -47px
  
.guide .category
  background-position: 5px -73px
  
.snippet .category
  background-position: 5px -98px

.continue
  color: $loud
  font-weight: bold
  text-transform: uppercase
  
#page-sidebar
  @include column(7)
  @include pull(24, true)
  
.highlights
  border-top: 1px solid #666
  text-align: center
  h1
    background: #fff
    display: inline
    padding: 0 10px
    position: relative
    text-transform: uppercase
    top: -11px
  ul
    list-style: none
    margin: -20px 0 0 0
    li
      border: 1px solid #666
      height: 180px
      margin: 20px 0
      position: relative
      a
        @include opacity(.55)
        left: 0
        position: absolute
        top: 0
        clip: rect(9px, 260px, 170px, 9px)
        &:hover
          @include opacity(1)
  
#searchbar 
  margin: $spacer-size 0
  text-align: center
  input
    padding: 0 5px
    width: 200px
  
.description
  font-family: $blueprint-alt-font-family
  font-size: 12px
  margin-bottom: $spacer-size + 10px
  text-align: justify

a.important
  @include box-link(15px, 0, $loud)
  display: block

.connections ul
  @include clearfix
  list-style: none
  margin: $spacer-size 0 $spacer-size 45px
  li
    float: left
    margin: 0 10px
.connections a
  @include ir
  background-image: url('/assets/connections.gif')
  background-repeat: no-repeat
  display: block
  height: 20px
  width: 27px
.twitter a
  background-position: left center
.technorati a
  background-position: -90px center
.linked-in a
  background-position: -47px center
.rss a
  background-position: -133px center
    
    
#page-footer
  @include column(24)
  padding-bottom: $spacer-size
  aside
    @include column(7)
    text-align: center
  nav
    @include column(16, true)
    @include prepend(1)
    ul
      list-style: none
      margin: 0
      .next
        @include column(8, true)
        @include prepend(8)
        text-align: right
      .prev
        @include column(8)
        @include pull(16, true)
      li a
        color: $loud