/ Banner.
%section#page-banner
  %section.announcements
    %header
      %h1 Announcements
    %section
      placeholder announcement one
    %section
      placeholder announcement two
    %section
      placeholder announcement three
