/ Header.
%header#page-header
  .logo
    %img{:src => '/assets/bitsb-logo.png'}
  .title BitsBuilder
/ Navigation.
%section#page-navigation
  %nav
    %ul
      %li Home
      %li Archives
      %li Services
      %li Projects
      %li Contact
  %form#searchbar
    %fieldset
      %input{:type => 'text',
        :name => 'search',
        :value => 'search...',
          }
