#sidebar
  .widget
    %h2.title Navigation
    / Navigation to move between entries.
    %ul.entry-navigation
      %li.next
        %a{:title => 'next article', :href => '/'} Upgrading to Rails 3
      %li.prev
        %a{:title => 'previous article', :href => '/'} Building better RSpec matchers
  .widget
    %h2.title Meta
    / Metadata about how to stay in touch.
    %p follow me:
    %ul.connections
      %li.twitter
        %a{:title => "Twitter stream", :href => "http://twitter.com"} Twitter
      %li.technorati
        %a{:title => "Technorati feed", :href => "http://technorati.com/"} Technorati
      %li.linked-in
        %a{:title => "LinkedIn profile", :href => "http://linkedin.com/in/fj"} LinkedIn
  .widget
    %h2.title Tag Cloud
    / Each tag has a 'tag' class and a 'tag-level-n' where n is 0..4. The most popular
    / tags are level 4; the least popular are level 0.
    %ul.tags
      %li.tag.tag-level-3 apple
      %li.tag.tag-level-4 banana
      %li.tag.tag-level-1 coconut
      %li.tag.tag-level-0 domino
      %li.tag.tag-level-2 elephant
