#page-sidebar
  %aside.description We are a satt nulla. Vivamus bibend, nulla ut congue frin gilla, lorem ipsum ultricies risus, ut ir utrum velit tortor vel purus. Lorem ipsum ultricies risus.
  %a.important{:href => '#'} Work With Us
  %aside.connections
    %ul
      %li.twitter
        %a{:title => "Twitter stream", :href => "http://twitter.com"} Twitter
      %li.technorati
        %a{:title => "Technorati feed", :href => "http://technorati.com/"} Technorati
      %li.linked-in
        %a{:title => "LinkedIn profile", :href => "http://linkedin.com/in/fj"} LinkedIn
      %li.rss
        %a{:title => "RSS feed", :href => ""} RSS
        
  %section.highlights
    %h1 Recent Projects
    %ul
      %li
        %a{:title => "Recent Project", :href => "" }
          %img{:src => "/assets/example.jpg"}
      %li
        %a{:title => "Recent Project", :href => "" }
          %img{:src => "/assets/example.jpg"}
      %li
        %a{:title => "Recent Project", :href => "" }
          %img{:src => "/assets/example.jpg"}
          
  %form#searchbar
    %input{:type => 'search', :name => 'search', :value => 'search...'}

    

