#taxonomy
  %section.widget
    %header
      %h1 Tag Cloud
    / Each tag has a 'tag' class and a 'tag-level-n' where n is 0..4. The most popular
    / tags are level 4; the least popular are level 0.
    %ul.tags
      %li.tag.tag-level-3
        %a{:href => ""} apple
      %li.tag.tag-level-4
        %a{:href => ""} banana
      %li.tag.tag-level-1
        %a{:href => ""} coconut
      %li.tag.tag-level-0
        %a{:href => ""} domino
      %li.tag.tag-level-2
        %a{:href => ""} elephant
        
  %section.widget
    %header
      %h1 Categories
    / Each tag has a 'tag' class and a 'tag-level-n' where n is 0..4. The most popular
    / tags are level 4; the least popular are level 0.
    %ul.tags
      %li
        %a{:href => ""} apple
      %li
        %a{:href => ""} banana
      %li
        %a{:href => ""} coconut
      %li
        %a{:href => ""} domino
      %li
        %a{:href => ""} elephant