-# Expects:
-#   :content => A Nanoc3::Item
= raise ArgumentError.new("missing content argument") unless @content
%p
  %time{:datetime => "#{@content[:created_at]}", :pubdate => "pubdate"}= @content[:created_at]
  by
  %cite
    %a{:href => "#{@content[:author_url]}"}= @content[:author]
  %a.category{:href => "", :rel => "category"}= @content[:kind]
/* one of:
/*  news:     information about the latest happenings
/*  article:  a relatively short entry about something of interest
/*  essay:    a longer, more in-depth entry about a broader topic
/*  guide:    a thorough treatment of a topic or instructional walkthrough
/*  snippet:  a reference to interesting content elsewhere, possibly with some commentary
/*
/* The value here is also the @class attribute of this article.
  


