/* The @class attribute is the "kind" metadata for this article. See below.
%article{:class => item[:kind]}
  %header
    %h1= item[:title]
    %p
      = render 'content/_metadata', :content => @item
  .content
    ~ yield
  %footer
    %a.tag{:href => "", :rel => "tag"} Apple
    %a.tag{:href => "", :rel => "tag"} Sample
    %a.tag{:href => "", :rel => "tag"} Clouds
    %a.tag{:href => "", :rel => "tag"} Birds
  
  .feedback