/* The @class attribute is the "kind" metadata for this article. See below.
%article{:class => item[:kind]}
  %header
    %h1= item[:title]
  %section.metadata
    = render 'content/_metadata', :content => @item
  %section.content
    ~ yield
  %section.feedback
